
USE [CSDLThuVien]
GO
/****** Object:  Table [dbo].[tBanSaoSach]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBanSaoSach](
	[MaBanSao] [char](25) NOT NULL,
	[MaSach] [char](25) NULL,
	[TrangThai] [bit] NULL,
	[TinhTrangSach] [nvarchar](255) NULL,
	[ViTri] [nvarchar](255) NULL,
 CONSTRAINT [PK_tBanSaoSach] PRIMARY KEY CLUSTERED 
(
	[MaBanSao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDocGia]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDocGia](
	[MaDG] [char](25) NOT NULL,
	[HoDem] [nvarchar](55) NULL,
	[TenDG] [nvarchar](25) NULL,
	[SoCMND] [nvarchar](25) NULL,
	[MaDonVi] [char](25) NULL,
	[Ngaysinh] [datetime] NULL,
	[MaDT] [char](25) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Anh] [nchar](150) NULL,
 CONSTRAINT [PK_tDocGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDoiTuong]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDoiTuong](
	[MaDT] [char](25) NOT NULL,
	[TenDoiTuong] [nvarchar](150) NULL,
 CONSTRAINT [PK_tDoiTuong] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDonVi]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDonVi](
	[MaDonVi] [char](25) NOT NULL,
	[TenDonVi] [nvarchar](150) NULL,
 CONSTRAINT [PK_tDonVi] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tLoaiSach]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiSach](
	[MaLoai] [char](25) NOT NULL,
	[TenLoai] [nvarchar](155) NULL,
 CONSTRAINT [PK_tLoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMuonTra]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMuonTra](
	[MaThe] [char](25) NOT NULL,
	[MaBanSao] [char](25) NOT NULL,
	[DatCoc] [float] NULL,
	[NgayMuon] [datetime] NULL,
	[NgayPhaiTra] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[TinhTrangSach] [nvarchar](155) NULL,
	[Phat] [float] NULL,
 CONSTRAINT [PK_tMuonTra] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC,
	[MaBanSao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNgonNgu]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNgonNgu](
	[MaNgonNgu] [char](25) NOT NULL,
	[TenNgonNgu] [nvarchar](100) NULL,
 CONSTRAINT [PK_tNgonNgu] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhaXB]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhaXB](
	[MaNXB] [char](25) NOT NULL,
	[TenNXB] [nvarchar](155) NULL,
 CONSTRAINT [PK_tNhaXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tSach]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSach](
	[MaSach] [char](25) NOT NULL,
	[TenSach] [nvarchar](155) NULL,
	[MaLoai] [char](25) NULL,
	[MaNgonNgu] [char](25) NULL,
	[MaNXB] [char](25) NULL,
	[TacGia] [nvarchar](150) NULL,
	[NamXB] [char](4) NULL,
	[LanXB] [char](3) NULL,
	[TomTat] [text] NULL,
	[TongSoTrang] [char](6) NULL,
	[Tap] [char](4) NULL,
	[TongSoTap] [char](4) NULL,
	[GiaTriSach] [float] NULL,
	[FileAnh] [char](100) NULL,
	[MaTheLoai] [varchar](10) NULL,
	[GioiThieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_tSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTheDocGia]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTheDocGia](
	[MaThe] [char](25) NOT NULL,
	[MaDG] [char](25) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKhoaThe] [datetime] NULL,
 CONSTRAINT [PK_tTheDocGia] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTheLoai]    Script Date: 19/05/2021 10:49:05 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTheLoai](
	[MaTheLoai] [varchar](10) NOT NULL,
	[TenTheLoai] [nvarchar](200) NULL,
 CONSTRAINT [PK_tTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tBanSaoSach] ([MaBanSao], [MaSach], [TrangThai], [TinhTrangSach], [ViTri]) VALUES (N'1141400129               ', N'11414                    ', NULL, N'Cũ, đủ trang', N'Kệ 133')
INSERT [dbo].[tBanSaoSach] ([MaBanSao], [MaSach], [TrangThai], [TinhTrangSach], [ViTri]) VALUES (N'1141400258               ', N'11414                    ', NULL, N'Mới', N'Kệ 262')
INSERT [dbo].[tBanSaoSach] ([MaBanSao], [MaSach], [TrangThai], [TinhTrangSach], [ViTri]) VALUES (N'1141400302               ', N'11414                    ', NULL, N'Mới', N'Kệ 306')
GO
INSERT [dbo].[tDocGia] ([MaDG], [HoDem], [TenDG], [SoCMND], [MaDonVi], [Ngaysinh], [MaDT], [DiaChi], [Anh]) VALUES (N'1200253                  ', N'Nguyễn Thị ', N'Hồng', N'00121392292', N'1                        ', CAST(N'1975-06-08T00:00:00.000' AS DateTime), N'1                        ', NULL, N'image1.jpg                                                                                                                                            ')
INSERT [dbo].[tDocGia] ([MaDG], [HoDem], [TenDG], [SoCMND], [MaDonVi], [Ngaysinh], [MaDT], [DiaChi], [Anh]) VALUES (N'1200781                  ', N'Vũ Thị Thu ', N'Huyền', N'00121392293', N'2                        ', CAST(N'1975-06-09T00:00:00.000' AS DateTime), N'2                        ', NULL, N'image2.jpg                                                                                                                                            ')
INSERT [dbo].[tDocGia] ([MaDG], [HoDem], [TenDG], [SoCMND], [MaDonVi], [Ngaysinh], [MaDT], [DiaChi], [Anh]) VALUES (N'1200996                  ', N'Vương Sỹ ', N'Khải', N'00121392294', N'3                        ', CAST(N'1975-06-10T00:00:00.000' AS DateTime), N'3                        ', NULL, N'image3.jpg                                                                                                                                            ')
GO
INSERT [dbo].[tDoiTuong] ([MaDT], [TenDoiTuong]) VALUES (N'1                        ', N'Giảng viên')
INSERT [dbo].[tDoiTuong] ([MaDT], [TenDoiTuong]) VALUES (N'2                        ', N'Sinh viên')
INSERT [dbo].[tDoiTuong] ([MaDT], [TenDoiTuong]) VALUES (N'3                        ', N'Học viên cao học')
GO
INSERT [dbo].[tDonVi] ([MaDonVi], [TenDonVi]) VALUES (N'1                        ', N'Khoa Công nghệ thông tin')
INSERT [dbo].[tDonVi] ([MaDonVi], [TenDonVi]) VALUES (N'2                        ', N'Khoa Điện ')
INSERT [dbo].[tDonVi] ([MaDonVi], [TenDonVi]) VALUES (N'3                        ', N'Khoa Công trình')
GO
INSERT [dbo].[tLoaiSach] ([MaLoai], [TenLoai]) VALUES (N'00001                    ', N'Sách văn học')
INSERT [dbo].[tLoaiSach] ([MaLoai], [TenLoai]) VALUES (N'00002                    ', N'Sách kinh tế')
INSERT [dbo].[tLoaiSach] ([MaLoai], [TenLoai]) VALUES (N'00003                    ', N'Sách thiếu nhi')
GO
INSERT [dbo].[tMuonTra] ([MaThe], [MaBanSao], [DatCoc], [NgayMuon], [NgayPhaiTra], [NgayTra], [TinhTrangSach], [Phat]) VALUES (N'130063400107             ', N'1695400107               ', NULL, CAST(N'2015-04-17T00:00:00.000' AS DateTime), CAST(N'2015-10-17T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tMuonTra] ([MaThe], [MaBanSao], [DatCoc], [NgayMuon], [NgayPhaiTra], [NgayTra], [TinhTrangSach], [Phat]) VALUES (N'130063400107             ', N'27524600370              ', NULL, CAST(N'2016-01-05T00:00:00.000' AS DateTime), CAST(N'2016-07-05T00:00:00.000' AS DateTime), CAST(N'2016-07-05T00:00:00.000' AS DateTime), N'Mới', NULL)
INSERT [dbo].[tMuonTra] ([MaThe], [MaBanSao], [DatCoc], [NgayMuon], [NgayPhaiTra], [NgayTra], [TinhTrangSach], [Phat]) VALUES (N'130063400107             ', N'27634200350              ', NULL, CAST(N'2015-12-16T00:00:00.000' AS DateTime), CAST(N'2016-06-16T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[tNgonNgu] ([MaNgonNgu], [TenNgonNgu]) VALUES (N'001                      ', N'Tiếng Việt')
INSERT [dbo].[tNgonNgu] ([MaNgonNgu], [TenNgonNgu]) VALUES (N'002                      ', N'Tiếng Anh')
INSERT [dbo].[tNgonNgu] ([MaNgonNgu], [TenNgonNgu]) VALUES (N'003                      ', N'Tiếng Pháp')
GO
INSERT [dbo].[tNhaXB] ([MaNXB], [TenNXB]) VALUES (N'00001                    ', N'NXB Giáo Dục')
INSERT [dbo].[tNhaXB] ([MaNXB], [TenNXB]) VALUES (N'00002                    ', N'NXB Giáo Dục Việt Nam')
INSERT [dbo].[tNhaXB] ([MaNXB], [TenNXB]) VALUES (N'00003                    ', N'NXB Giao Thông Vận Tải')
GO
INSERT [dbo].[tTheDocGia] ([MaThe], [MaDG], [NgayBatDau], [NgayKhoaThe]) VALUES (N'120025300448             ', N'1200253                  ', CAST(N'2016-03-23T00:00:00.000' AS DateTime), CAST(N'2021-03-23T00:00:00.000' AS DateTime))
INSERT [dbo].[tTheDocGia] ([MaThe], [MaDG], [NgayBatDau], [NgayKhoaThe]) VALUES (N'120078100449             ', N'1200781                  ', CAST(N'2016-03-24T00:00:00.000' AS DateTime), CAST(N'2021-03-24T00:00:00.000' AS DateTime))
INSERT [dbo].[tTheDocGia] ([MaThe], [MaDG], [NgayBatDau], [NgayKhoaThe]) VALUES (N'120099600450             ', N'1200996                  ', CAST(N'2016-03-25T00:00:00.000' AS DateTime), CAST(N'2021-03-25T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tTheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'001', N'Sách Giáo trình')
INSERT [dbo].[tTheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'002', N'Sách Tham Khảo')
INSERT [dbo].[tTheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'003', N'Tạp chí')
GO
ALTER TABLE [dbo].[tBanSaoSach]  WITH CHECK ADD  CONSTRAINT [FK_tBanSaoSach_tSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[tSach] ([MaSach])
GO
ALTER TABLE [dbo].[tBanSaoSach] CHECK CONSTRAINT [FK_tBanSaoSach_tSach]
GO
ALTER TABLE [dbo].[tDocGia]  WITH CHECK ADD  CONSTRAINT [FK_tDocGia_tDoiTuong] FOREIGN KEY([MaDT])
REFERENCES [dbo].[tDoiTuong] ([MaDT])
GO
ALTER TABLE [dbo].[tDocGia] CHECK CONSTRAINT [FK_tDocGia_tDoiTuong]
GO
ALTER TABLE [dbo].[tDocGia]  WITH CHECK ADD  CONSTRAINT [FK_tDocGia_tDonVi] FOREIGN KEY([MaDonVi])
REFERENCES [dbo].[tDonVi] ([MaDonVi])
GO
ALTER TABLE [dbo].[tDocGia] CHECK CONSTRAINT [FK_tDocGia_tDonVi]
GO
ALTER TABLE [dbo].[tMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_tMuonTra_tBanSaoSach] FOREIGN KEY([MaBanSao])
REFERENCES [dbo].[tBanSaoSach] ([MaBanSao])
GO
ALTER TABLE [dbo].[tMuonTra] CHECK CONSTRAINT [FK_tMuonTra_tBanSaoSach]
GO
ALTER TABLE [dbo].[tMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_tMuonTra_tTheDocGia] FOREIGN KEY([MaThe])
REFERENCES [dbo].[tTheDocGia] ([MaThe])
GO
ALTER TABLE [dbo].[tMuonTra] CHECK CONSTRAINT [FK_tMuonTra_tTheDocGia]
GO
ALTER TABLE [dbo].[tSach]  WITH CHECK ADD  CONSTRAINT [FK_tSach_tLoaiSach] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tLoaiSach] ([MaLoai])
GO
ALTER TABLE [dbo].[tSach] CHECK CONSTRAINT [FK_tSach_tLoaiSach]
GO
ALTER TABLE [dbo].[tSach]  WITH CHECK ADD  CONSTRAINT [FK_tSach_tNgonNgu] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[tNgonNgu] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[tSach] CHECK CONSTRAINT [FK_tSach_tNgonNgu]
GO
ALTER TABLE [dbo].[tSach]  WITH CHECK ADD  CONSTRAINT [FK_tSach_tNhaXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[tNhaXB] ([MaNXB])
GO
ALTER TABLE [dbo].[tSach] CHECK CONSTRAINT [FK_tSach_tNhaXB]
GO
ALTER TABLE [dbo].[tSach]  WITH CHECK ADD  CONSTRAINT [FK_tSach_tTheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[tTheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[tSach] CHECK CONSTRAINT [FK_tSach_tTheLoai]
GO
ALTER TABLE [dbo].[tTheDocGia]  WITH CHECK ADD  CONSTRAINT [FK_tTheDocGia_tDocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[tDocGia] ([MaDG])
GO
ALTER TABLE [dbo].[tTheDocGia] CHECK CONSTRAINT [FK_tTheDocGia_tDocGia]
GO
